In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
from sklearn.datasets import load_iris
iris=load_iris()

In [3]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [4]:
df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
x=df.drop('target',axis=1)
y=df.target

In [6]:
trainX, testX, trainY, testY = train_test_split(x, y, test_size = 0.2)

In [7]:
mlp=MLPClassifier( hidden_layer_sizes=(150,100,50),
    activation='relu',
    solver='adam',
    max_iter=200)
mlp.fit(trainX,trainY)

C:\Users\DHARSINI\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(150, 100, 50))

In [8]:
y_predict=mlp.predict(testX)
y_predict

array([2, 2, 2, 1, 2, 0, 0, 1, 1, 2, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 2, 2,
       0, 1, 0, 2, 2, 0, 0, 2])

In [9]:
mlp.score(testX,testY)

1.0

In [10]:
cm=confusion_matrix(testY,y_predict)
cm

array([[12,  0,  0],
       [ 0,  4,  0],
       [ 0,  0, 14]], dtype=int64)

In [11]:
print(classification_report(testY, y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        12
           1       1.00      1.00      1.00         4
           2       1.00      1.00      1.00        14

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [12]:
# Import accuracy score 
from sklearn.metrics import accuracy_score

# Calcuate accuracy
accuracy_score(testY,y_predict)

1.0